/* COLORS */
$purple: #573cfe;
$green: #33d88e;
$red: #ef6994;
$yellow: #e2b040;
$lightGray: #f8f8f8;
$darkGray: #333740;
$white: #fff;

/* STYLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* GLOBAL STYLES */
html {
  background-color: $lightGray;
  color: $darkGray;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", Helvetica, sans-serif;
}

.section-title {
  font-size: 1.4rem;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1140px;
}

.dot {
  color: $green;
}

/* HEADER STYLES */
header {
  padding: 10px 0;
  border-top: 6px solid $purple;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
}

/* MAIN STYLES */
main {
  section {
    padding: 20px 0;
  }
  .hero {
    text-align: center;
    padding: 40px 0;
  }
}

/* FOOTER STYLES */
footer {
  background: $darkGray;
  color: $white;
  padding: 40px 0;
}
